<ngx-loading-bar
  [fixed]="true"
  height="3px"
  color="#495057"
  [includeSpinner]="false"
  >
</ngx-loading-bar>
<p-toolbar>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a [routerLink]="['/']" class="title-link" >
        <h3>Dynamic User Dashboard</h3>
      </a>
      <div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Search by user ID"
            class="search-input"
            pInputText
            [(ngModel)]="searchValue"
            (input)="searchUsers($event)"
          />
          <p-menu #menu [model]="items" [popup]="true"></p-menu>
        </span>
      </div>
    </div>
  </div>
</p-toolbar>

<router-outlet></router-outlet>
