<div class="container mt-5" *ngIf="user && !loading">
  <a class="p-button link" [routerLink]="['/']">
    <i class="pi pi-angle-double-left"></i>
  </a>
  <div class="row mt-2">
    <div class="col-md-3">
      <img class="user-img" [src]="user.avatar" alt="">
    </div>
    <div class="col-md-6">
      <p>{{user.id}}</p>
      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <p class="text-gray">{{user.email}}</p>
    </div>
  </div>
</div>

<div *ngIf="loading" class="spinner-container">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
